
/* 基本レイアウト */

.container {
	display: flex;
	width: 100%;
	height: 100%;
}

.status {
	position: fixed;
	top: 0;
	left: 0;
	width: calc(100% - var(--match-list-width));
	height: 100%;
	z-index: 10;
}

.status-spacer {
	width: calc(100% - var(--match-list-width));
}

.header {
	width: var(--match-list-width);
	height: var(--header-height);
}

.subcontainer {
	width: var(--match-list-width);
	height: 100%;
}

.list-container {
	width: 100%;
	height: calc(100% - var(--header-height));
}

/* 特殊レイアウト */

.sp-container {
	width: 100%;
	height: 100%;
}

.sp-header {
	width: 100%;
	height: var(--header-height);
}

.sp-status {
	width: 100%;
	height: var(--sp-status-height);
}

.sp-list-container {
	width: 100%;
	height: calc(100% - var(--header-height) - var(--sp-status-height));
}
