
.message-container {
	padding: var(--vspace-l) var(--hspace-l);
}

.title {
	font-size: var(--fontsize-fixed-xl);
}

.subtitle {
	font-size: var(--fontsize-fixed-m);
}

.button-container {
	border-top: 1px solid #999;
}
.button-container > * {
	border-left: 1px solid #999;
}
.button-container > *:first-child {
	border-left: none;
}

.button-yes {
	padding: var(--vspace-m) 0;
	width: 50%;
	text-align: center;
	font-size: var(--fontsize-fixed-l);
	box-sizing: border-box;

	color: #09E;
}

.button-no {
	padding: var(--vspace-m) 0;
	width: 50%;
	text-align: center;
	font-size: var(--fontsize-fixed-l);
	box-sizing: border-box;

	color: #666;
}
