.container {
	width: calc(100% - var(--hspace-s) * 2);
	height: 100%;
	padding: 0 var(--hspace-s);
	display: flex;
	background-color: #00C;
}

.title {
	margin: auto 0;
	padding: 0;
}

.setting {
	margin: auto 0 auto auto;
}

.setting-icon {
	padding-top: var(--vspace-m);
}
